<div class="col-md-12">
  <div class="row">

    <div class="col-md-11">
        <h3>Consulta de códigos CIE10 ("Clasificación Internacional de Enfermedades")</h3>
      <mat-form-field class="example-full-width">
          

        <input [formControl]="autoCompleteControl" type="text" placeholder="Ingrese el Código o Descripción" aria-label="Number"
          matInput [matAutocomplete]="auto">
        <button mat-button *ngIf="autoCompleteControl.value" matSuffix mat-icon-button aria-label="Clear" (click)="autoCompleteControl.setValue(null,{emitEvent: false})">
          <mat-icon>close</mat-icon>
        </button>
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let item of _serviceAutocomplete$ | async" [value]="item.name" (onSelectionChange)="selectionChange(item)">
            {{ item.name | titlecase}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

    </div>
    <div class="col-md-1 mt-2">
      <mat-icon (click)="openDialog()">help</mat-icon>
    </div>

  </div>

  <div class="row">
    <div class="mat-elevation-z8 responsive_table example-container">
      <!--   <div class="example-loading-shade"
               *ngIf="isLoadingResults || isRateLimitReached">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
              GitHub's API rate limit has been reached. It will be reset in one minute.
            </div>
          </div> -->

      <mat-table #table [dataSource]="dataSource" matSort matSortDisableClear matSortDirection="asc">

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation();" (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="cod">
          <mat-header-cell *matHeaderCellDef>Código</mat-header-cell>
          <mat-cell *matCellDef="let row"><span class="mobile-label">Código:</span> {{ row.cod }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Descripción</mat-header-cell>
          <mat-cell *matCellDef="let row"><span class="mobile-label">Descripción:</span>{{ row.name }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="limsuperior">
          <mat-header-cell *matHeaderCellDef>Lim Superior</mat-header-cell>
          <mat-cell *matCellDef="let row"><span class="mobile-label">Lim Superior:</span>{{ row.limsuperior }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="liminferior">
          <mat-header-cell *matHeaderCellDef>Lim Inferior</mat-header-cell>
          <mat-cell *matCellDef="let row"><span class="mobile-label">Lim Inferior:</span>{{ row.liminferior }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="sexo">
          <mat-header-cell *matHeaderCellDef>Sexo</mat-header-cell>
          <mat-cell *matCellDef="let row"><span class="mobile-label">Sexo:</span>{{ row.sexo }}</mat-cell>
        </ng-container>


        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>


    </div>

  </div>

</div>