  .example-full-width {
      width: 100%;
    }

  .example-container {
    height: 400px;
    overflow: auto;
  }
  .mat-column-name {
    flex: 0 0 40%;
  }

  .mat-elevation-z8 {
    width: 100%;
  }

  .mobile-label {
    display: none;
  }

@media(max-width: 600px) {
  // Custom header label that shows in each column, with a set width and bold font
  .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
  }

  // Remove the header row altogether
  .mat-header-row {
    display: none;
  }

  // The row cells should display as a column, justified left, with a bit of extra padding
  .mat-row { 
    flex-direction: column;
    align-items: start;
    padding: 8px 24px;
  }
  .responsive_table {
    overflow-x: auto !important;
  }

  .mat-cell:first-of-type{
    padding-left: initial;
  }

  .mobile-label {
    width: 80px;
    display: inline-block;
    font-weight: bold;
    margin-right: 1%;
  }
}


