<!--The content below is only a placeholder and can be replaced.  scrolling-navbar, fixed-top  -->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-blue primary-color" [containerInside]="true">
  <logo>
      <a class="logo navbar-brand" href="#"><strong>Consultas</strong></a>
  </logo>
  <links>
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active waves-light" mdbRippleRadius>
              <a class="nav-link">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
              <a [routerLink]="['consultas/LiquidacionCx']" class="nav-link">LiquidacionCx</a>
          </li>   
          <li class="nav-item waves-light" mdbRippleRadius>
            <a [routerLink]="['consultas/LiquidacionCIE']" class="nav-link">Liquidacion CIE</a>
        </li>     
      </ul>
      <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="nav-item waves-light" mdbRippleRadius>
              <a class="nav-link"><i class="fa fa-instagram"></i></a>
          </li>
      </ul>
  </links>
</mdb-navbar>
<!-- Main -->
<main>
  <div class="container mt-1">

    <div class="row">
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
    </div>
    
    <!--Section: Features v.3-->
    <!-- <section class="section feature-box pt-5">   
        <br>
                 
     
    </section> -->
    <!--Section: Features v.3-->
    
  </div>
</main>
<!--Main Navigation-->

<!-- Footer -->
<footer class="page-footer font-small blue">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="#"> Jhon Tovar - Mauricio Garibello</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->