<!--The content below is only a placeholder and can be replaced.  scrolling-navbar, fixed-top -->

<body>
  

<div class="container-fluid">
    <main>
        <div class=" mt-1">
          <div class="col-md-12">
            
            <br>
              <router-outlet></router-outlet>
          </div>
        </div>
      </main>
</div>
<nav mat-tab-nav-bar>    
 <!--    <a mat-tab-link routerLinkActive #activeCIE="routerLinkActive" [active]="activeCIE.isActive"  [routerLink]="['consultas/LiquidacionCIE']">CIE10</a>
    <a mat-tab-link  routerLinkActive #activeISS="routerLinkActive" [active]="activeISS.isActive"  [routerLink]="['consultas/LiquidacionCx']">ISS2001</a> -->
  </nav>
<!-- Main -->

<!--Main Navigation-->
</body>
<!-- Footer -->
 <footer class="page-footer font-small info-color">
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a target='_blank' href="https://www.xhygnus.com/pweb/">Ing. Jhon Tovar & Ing. Mauricio Garibello</a>
    </div>
  </footer> 
  <!-- Footer -->