<div class="col-md-12">
  <div class="row">
    
    <div class="col-md-10">

      <mat-form-field class="example-full-width">
        <input [formControl]="autoCompleteControl" type="text" placeholder="Ingrese el Código o Descripción" aria-label="Number" matInput
          [matAutocomplete]="auto">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let item of _serviceAutoComplete$ | async" [value]="item.nombre" (onSelectionChange)="selectionChange(item)">
            {{ item.nombre | titlecase}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

    </div>

    <div class="col-md-1">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="%" [(ngModel)]="model" type="number" value="0" 
        (blur)="onBlurMethod()">
      </mat-form-field>
    </div>
    <div class="col-md-1 mt-2">           
      <mat-icon (click)="openDialog()">help</mat-icon>        
    </div>

  </div>
  <div class="row" >
    <div class="mat-elevation-z8 responsive_table example-container">
      <!--   <div class="example-loading-shade"
               *ngIf="isLoadingResults || isRateLimitReached">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
              GitHub's API rate limit has been reached. It will be reset in one minute.
            </div>
          </div> -->

      <mat-table #table [dataSource]="dataSource" matSort matSortDisableClear matSortDirection="asc">

          <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()">
                </mat-checkbox>
              </th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation();"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>

        <ng-container matColumnDef="cod">
          <mat-header-cell *matHeaderCellDef>Codigo</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.cod }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="nom">
          <mat-header-cell *matHeaderCellDef>Descripciòn</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.nom }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="ane">
          <mat-header-cell *matHeaderCellDef>Anestesia</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.ane }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="ayu">
          <mat-header-cell *matHeaderCellDef>Ayudantìa</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.ayu }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="cap">
          <mat-header-cell *matHeaderCellDef>Capitulo</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.cap }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="des">
          <mat-header-cell *matHeaderCellDef>Sala</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.des }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="hom">
          <mat-header-cell *matHeaderCellDef>Honorario</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.hom }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="mat">
          <mat-header-cell *matHeaderCellDef>Materiales</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.mat }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="tot">
          <mat-header-cell *matHeaderCellDef>Total</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.tot | currency }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="uvr">
          <mat-header-cell *matHeaderCellDef>UVR</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.uvr }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

    </div>

  </div>

  <br>
  <!-- [hidden]="!showTable" -->
</div>